{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Destinations aléatoires{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/random-city.css') }}" crossorigin="" />

{% endblock %}

{% block body %}

<div class="wrapper-cities-list">
    {% dump(randomCities) %}

    <h1>Destinations aléatoires</h1>
    <p class="intro">Pour les curieux, découvrez ici des destinations auxquelles vous n'auriez pas pensé.</p>

    <div class="city-list-result col-lg-8">

        {% for city in randomCities %}
        <a href="{{ path('city_show', { geonameId : city.geonameId }) }}">
            <picture class="city-card" data-name="{{ city.name }}" data-geonameid="{{ city.geonameId }}">
                <source srcset="" media="(min-width: 400px)">
                <img class="city-img shadow-sm" src="" alt="Image de {{ city.name }}" onerror="this.src='{{ asset('images/loader.gif') }}'" />
                <p class="city-name">{{ city.name }}</p>
            </picture>
        </a>
        {% endfor %}

    </div>

</div>

{% endblock %}


{% block javascripts %}
<script src="{{asset('js/city_random.js')}}"></script>
{% endblock %}