{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Destinations aléatoires{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/random-city.css') }}" crossorigin="" />

{% endblock %}

{% block body %}

<div class="wrapper-cities-list">
    {% dump(randomCities) %}

    <h1>Destinations aléatoires</h1>
    <p class="intro">Pour les curieux, découvrez ici des destinations auxquelles vous n'auriez pas pensé.</p>

    <div class="city-list-result col-lg-8">

        {% for city in randomCities %}
        <a href="{{ path('city_show', { geonameId : city.geonameId }) }}">
            <picture class="city-card" data-name="{{ city.name }}" data-geonameid="{{ city.geonameId }}">
                <source srcset="" media="(min-width: 400px)">
                <img class="city-img shadow-sm" src="" alt="Image de {{ city.name }}" onerror="this.src='{{ asset('images/loader.gif') }}'" />
                <p class="city-name">{{ city.name }}</p>
            </picture>
        </a>
        {% endfor %}

    </div>

</div>

{% endblock %}


{% block javascripts %}
<script>
    let cities = document.querySelectorAll('.city-card');
    let cityName = '';
    let cityId = '';
    cities.forEach(
        function (city) {
            let cityName = city.dataset.name;
            //cityName = cityName.replace(/\s/g,'');
            cityName = cityName.replace(/\s/g, '-');
            let cityId = city.dataset.geonameid;
            // Récupération des images de ville
            fetch('/api/v1/image/' + cityName)
                .then(
                    (response) => {
                        return response.status == 200 ?
                            (
                                //console.log(response.status + ' - opération effectué'),
                                response.json()
                            )
                            :
                            (response.status === 204) ? response.status + ' - pas de resultats'
                                :
                                console.log('L\'opération a échoué')
                    })
                .then(
                    (data) => {
                        console.log(data);
                        let imageElement = city.querySelector('img');
                        let imageElt = city.querySelector('source');
                        imageElt.setAttribute('srcset', data.urlImage.regular);
                        imageElement.setAttribute('src', data.urlImage.full);
                        //console.log(data.thumb);
                    }
                );
        }
    )
</script>
{% endblock %}