{% extends 'base.html.twig' %}

{% block title %}City{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/page.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<section id="landing-section"
    style="background-image:url('{{imagesData['urlImage'].full}}'); height:100%; background-size: 100% 110%; background-attachment: fixed;">

</section>
<section id="data-section">

    <h1>{{ cityData['fullname'] }}</h1>

    <div id="description">{{ cityData['description']|raw }}</div>

    <div id="city-scores">
        <h3 class="subtitle-section">Scores de la ville</h3>
        <div id="container-cards">
            {% set iconScore = { 
                0 : 'fas fa-building',
                1 : 'fas fa-hand-holding-usd',
                3 : 'fas fa-piggy-bank',
                4 : 'fas fa-bus-alt', 
                7 : 'fas fa-user-shield', 
                8 : 'fas fa-hand-holding-medical', 
                9 : 'fas fa-user-graduate', 
                10 : 'fas fa-hand-holding-water', 
                11 : 'far fa-money-bill-alt', 
                13 : 'fas fa-wifi', 
                14 : 'fas fa-theater-masks', 
                15 : 'fas fa-genderless',
                16 : 'fas fa-campground' 
            } %}
            {% set categoryScores = { 0 :'Logement'  , 1 : 'Coût de la vie' , 3 : 'Capital risque', 4 : 'Transports', 7 : 'Sécurité', 8 : 'Soins de santé', 9 : 'Éducation', 10 : 'Qualité de l\'environnement', 11 : 'Économie', 13 : 'Accès internet', 14 : 'Loisirs et Culture', 15 : 'Tolérance', 16 : 'En plein air' } %}

            {% for key, score in categoryScores %}

            <div class="card shadow" data-category="{{ score }}"
                data-originalcategory="{{ cityData['scores'][key].name }}" style="width: 10rem;">
                <i class="{{ iconScore[key] ~ ' fa-4x' }}" style="color: {{ cityData['scores'][key].color }};"></i>
                <p class="card-text">{{ score }}</p>
                <p id="p-score" class="card-text">
                    {{ cityData['scores'][key].score_out_of_10|number_format(1, '.', ',') ~ ' / 10' }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

<section id="maps" >
    <h3 class="subtitle-section">Plan de la ville</h3>
      <div id="leaflet-maps" >
        <div id="mapid" class="shadow" data-longitude="{{ cityData.location.longitude }}"
          data-latitude="{{ cityData.location.latitude }}"></div>
      </div>
</section>

<section id="gallery">
<div id="carouselExampleIndicators" class="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="city-pictures text-center img-gallery">
            {% for image in imagesData['urlRandomImages']|slice(0, 9) %}
            <img id="{{ 'image' ~ random(1,50000) }}" src="{{ image.small }}" alt="Image de Paris"
              class="img-carousel" />
            {% endfor %}
          </div>
        </div>
        <div class="carousel-item">
          <div class="city-pictures text-center">
            <div class="city-pictures text-center img-gallery">
              {% for image in imagesData['urlRandomImages']|slice(9, 18) %}
              <img id="{{ 'image' ~ random(1,50000) }}" src="{{ image.thumb }}" alt="Image de Paris" class="img-carousel" />
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
    </div>

     <!-- The Modal -->
     <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
       {#  <div id="caption"></div> #}
      </div>
</section>
 

{% dump(cityData) %}
{% dump(imagesData['urlRandomImages']) %}
{% dump(details) %}

<!-- show maps script -->
<script src="{{asset('js/city_show.js')}}"></script>


{% endblock %}