{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - {{ objectCity.name }} {% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/city_show.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% dump(cityImagePortrait) %}
{% block body %}
<section id="landing-section" class="landing-section-image" 
style="--bg-image-landscape: url('{{imagesData['urlImage'].full}}'); --bg-image-portrait: url('{{cityImagePortrait['urlImage'].regular}}');">
</section>

<section id="data-section">
    {{ include('/city/show_partials/data.html.twig') }}
</section>

<section id="maps">
    {{ include('/city/show_partials/maps.html.twig') }}
</section>

<section id="gallery">
    {{ include('/city/show_partials/gallery.html.twig') }}
</section>

<section id="comments">
    {{ include('/city/show_partials/review.html.twig') }}
</section>
{% dump(objectCity) %}
{# 
{% dump(cityData) %}
{% dump(imagesData['urlRandomImages']) %}
{% dump(details) %}
{% dump(objectCity) %} #}

<!-- show maps script -->
<script src="{{asset('js/city_show.js')}}"></script>


{% endblock %}