{% extends 'base.html.twig' %}

{% block title %}City{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/page.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<section id="landing-section"
    style="background-image:url('{{imagesData['urlImage'].full}}'); height:110%; background-size: 100% 110%; background-attachment: fixed;">
</section>

<section id="data-section">
    {{ include('/city/show_partials/data.html.twig') }}
</section>

<section id="maps">
    {{ include('/city/show_partials/maps.html.twig') }}
</section>

<section id="gallery">
    {{ include('/city/show_partials/gallery.html.twig') }}
</section>

<section id="comments">
    {{ include('/city/show_partials/review.html.twig') }}
</section>


{% dump(cityData) %}
{% dump(imagesData['urlRandomImages']) %}
{% dump(details) %}
{% dump(objectCity) %}

<!-- show maps script -->
<script src="{{asset('js/city_show.js')}}"></script>


{% endblock %}