{% extends 'base.html.twig' %}

{% block title %}City{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/page.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<section id="landing-section"
    style="background-image:url('{{imagesData['urlImage'].full}}'); height:100%; background-size: 100% 110%; background-attachment: fixed;">

</section>
<section id="data-section">

    <h1>{{ cityData['fullname'] }}</h1>

    <div id="description">{{ cityData['description']|raw }}</div>

    <div id="city-scores">
        <h3 class="subtitle-section">Scores de la ville</h3>
        <div id="container-cards">
            {% set iconScore = { 
                0 : 'fas fa-building',
                1 : 'fas fa-hand-holding-usd',
                3 : 'fas fa-piggy-bank',
                4 : 'fas fa-bus-alt', 
                7 : 'fas fa-user-shield', 
                8 : 'fas fa-hand-holding-medical', 
                9 : 'fas fa-user-graduate', 
                10 : 'fas fa-hand-holding-water', 
                11 : 'far fa-money-bill-alt', 
                13 : 'fas fa-wifi', 
                14 : 'fas fa-theater-masks', 
                15 : 'fas fa-genderless',
                16 : 'fas fa-campground' 
            } %}
            {% set categoryScores = { 0 :'Logement'  , 1 : 'Coût de la vie' , 3 : 'Capital risque', 4 : 'Transports', 7 : 'Sécurité', 8 : 'Soins de santé', 9 : 'Éducation', 10 : 'Qualité de l\'environnement', 11 : 'Économie', 13 : 'Accès internet', 14 : 'Loisirs et Culture', 15 : 'Tolérance', 16 : 'En plein air' } %}

            {% for key, score in categoryScores %}

            <div class="card shadow" data-category="{{ score }}"
                data-originalcategory="{{ cityData['scores'][key].name }}" style="width: 10rem;">
                <i class="{{ iconScore[key] ~ ' fa-4x' }}" style="color: {{ cityData['scores'][key].color }};"></i>
                <p class="card-text">{{ score }}</p>
                <p id="p-score" class="card-text">
                    {{ cityData['scores'][key].score_out_of_10|number_format(1, '.', ',') ~ ' / 10' }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

<section id="maps">
    <h3 class="subtitle-section">Plan de la ville</h3>
    <div id="leaflet-maps">
        <div id="mapid" class="shadow" data-longitude="{{ cityData.location.longitude }}"
            data-latitude="{{ cityData.location.latitude }}"></div>
    </div>
</section>

<section id="gallery">
    <div id="carouselExampleIndicators" class="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="city-pictures text-center img-gallery">
                    {% for image in imagesData['urlRandomImages']|slice(0, 9) %}
                    <img id="{{ 'image' ~ random(1,50000) }}" src="{{ image.small }}" alt="Image de Paris"
                        class="img-carousel" />
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="city-pictures text-center">
                    <div class="city-pictures text-center img-gallery">
                        {% for image in imagesData['urlRandomImages']|slice(9, 18) %}
                        <img id="{{ 'image' ~ random(1,50000) }}" src="{{ image.thumb }}" alt="Image de Paris"
                            class="img-carousel" />
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        {#  <div id="caption"></div> #}
    </div>
</section>

<section id="comments">
    <div id="form-review-container">
        <h4 class="h2-form-title">Avez-vous déjà visité {{ cityData.cityName }} ? </h4>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form_start(formReview, {'attr': {'id': 'form_review', 'autocomplete': 'off'}}) }}
        {{ form_widget(formReview) }}
        <button class="btn form-submit">{{ button_label|default('Envoyer mon avis') }}</button>
        {{ form_end(formReview) }}

        {% else %}
        <div class="alert alert-info">Veuillez vous
            <a href="{{ path('app_login') }}" class="alert-link">connecter </a> pour rédiger un avis.
        </div>
        {% endif %}

    </div>
    <h2 class="text-center">Avis des utilisateurs</h2>

    <div class="review-div">
        <!-- Beginning Caroussel -->
        <div id="carouselExampleIndicators-review" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% set max = 5 %}
                    {% if reviews|length > max %}
                    {% set seeMoreContent = true %}
                    {% endif %}
                    {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% set max = reviews|length %}
                    {% endif %}
                    {% for review in reviews|reverse|slice(0, max) %}
                    <div class="accordion review-accordion" id="accordion-{{ review.id }}">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <p class="report-button  m-0 text-right">
                                    <a class="report-button py-0 m-0" data-toggle="collapse"
                                        href="#signal-{{ review.id }}" role="button" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        ...
                                    </a>
                                </p>
                                <div class="collapse text-center text-danger report-message mx-0"
                                    id="signal-{{ review.id }}">
                                    <span class="span-review"><a
                                            href="{{ path('api_v1_review_report', {'id': review.id } ) }}"
                                            class="report-review-button" data-reviewId="{{ review.id }}"> <i
                                                class="em em-no_entry" aria-role="presentation"
                                                aria-label="NO ENTRY"></i>Avis inapproprié, je signale!</a></span>
                                </div>
                                <h3 class="card-title">
                                    {% if review is defined %}
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a class="username" href="{{ path('user_show', { 'id': review.user.id}) }}"><img
                                            src="{{ asset('images/avatars/' ~ review.user.avatar) }}"
                                            alt="Photo de profil" class="user-profile-picture" style="width:13%;">
                                        {{ review.user.username }}</a>
                                    {% else %}
                                    <p class="m-0">{{ review.user.username }}</p>
                                    {% endif %}

                                    {# displays the highest level badge reached #}
                                    {% set badgeLevel = [] %}
                                    {% for key, badge in review.user.badge %}
                                    {% set badgeLevel = badgeLevel|merge([badge.badgeString]) %}
                                    {% endfor %}
                                    {% for badge in review.user.badge %}
                                    {% if badge.badgeString == max(badgeLevel) %}
                                    <p class="user-points">

                                        {{ review.user.points|default(5)}} points
                                        <img src="{{ asset('images/badges/' ~ badge.filename ~ '.svg' ) }}"
                                            alt="Badge {{ badge.label }}" class="user-badge" /></p>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </h3>
                                <h4 class="card-badge"> </h4>

                                {% set difference = date(review.createdAt|date("Y/m/d")).diff(date('now'|date('Y/m/d'))) %}
                                {% set leftDays = difference.days %}
                                {% dump(leftDays) %}

                                <h4 class="h4-review"><em>Avis publié il y a {{ leftDays }}
                                        jour{% if leftDays > 1 %}s{% endif %}</em>
                                </h4>
                                <h4 class="h4-review"><strong>Visite effectuée</strong> le
                                    {{review.travelDate.date|date("d/m/Y")}}
                                </h4>
                                <h4>
                                    <strong class="mr-2">Appréciation</strong>

                                    {% set rateCircleFull = '<i class="fa fa-circle" aria-hidden="true"></i>' %}
                                    {% set rateCircleEmpty = '<i class="fa fa-circle-thin" aria-hidden="true"></i>' %}
                                    {% for i in 1..5 %}
                                    {% if i <= review.rate  %}
                                    {{ rateCircleFull|raw }}
                                    {% else %}
                                    {{ rateCircleEmpty|raw }}
                                    {% endif %}

                                    {% endfor %}

                                </h4>
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-center btn-see-more" type="button"
                                        data-toggle="collapse" data-target="#collapse-{{ review.id }}"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Voir plus...
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse-{{ review.id }}" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion-{{ review.id }}">
                                <div class="card-body">

                                    <!-- Default dropleft button -->
                                    <p class="card-text text-justify">{{ review.text|nl2br }}</p>

                                    <div class="review-votes d-flex justify-content-end">
                                        <span class="review-vote like">
                                            {% if app.user and review.isLikedByUser(app.user) %}
                                            <i class="em em-heart" aria-role="presentation"
                                                data-reviewid="{{ review.id }}"></i>
                                            {% else %}
                                            <i class="fa fa-heart-o" aria-role="presentation"
                                                data-reviewid="{{ review.id }}"></i>
                                            {% endif %}
                                        </span>
                                        <span class="span-rate" data-likesCount="{{ review.likes|length }}"></span>
                                    </div>

                                    <div class="city-pictures text-center">
                                        {% for picture in review.picture %}
                                        <img src="{{ asset('images/uploads/' ~ picture.filename) }}"
                                            alt="Image de {{city.cityName}} postée par un utilisateur."
                                            class="user-image">
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <p class="text-center"><em>Il n'y a pas encore d'avis pour cette destination. Laissez-nous le
                            vôtre!</em>
                    </p>
                    {% endfor %}
                    {% if seeMoreContent is defined %}
                    <div class="alert alert-info  mt-4">Veuillez vous
                        <a href="{{ path('app_login') }}" class="alert-link">connecter </a> pour voir tous les avis.
                    </div>
                    {% else %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY')  %}
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators-review" data- -to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators-review" data- -to="1"></li>
                <li data-target="#carouselExampleIndicators-review" data- -to="2"></li>
            </ol>
        </div>
    </div>
    {% endif %}
    {% endif %}
</section>


{% dump(cityData) %}
{% dump(imagesData['urlRandomImages']) %}
{% dump(details) %}

<!-- show maps script -->
<script src="{{asset('js/city_show.js')}}"></script>


{% endblock %}