{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% set isLiked = false %}
{% for cityLiked in app.user.cityLikes %}
{# {% dump(cityLiked) %} #}
{% if cityLiked.city.id ==  objectCity.id %}
{% set isLiked = true %}
{% endif %}
{% endfor %}

{# FULL => fas | EMPTY => far#}
<a class="city-like" href="" data-cityid="{{ objectCity.id }}">
    {% if isLiked == true %}
    <i class="fas fa-heart"></i>
    {% else %}
    <i class="far fa-heart"></i>
    {% endif %}
</a>
{% endif %}



{# {% dump(app.user) %} #}
<h1>{{ cityData['fullname'] }}</h1>

{% if cityData['description'] is not null %}
<div id="description" class="city-description" data-summary="{{ cityData['description']|raw  }}">{{ cityData['description']|raw }}</div>
{% else %}
<div class="alert alert-warning text-center p-2">Pas de description pour cette ville</div>
{% endif %}



{{ include('/city/show_partials/tags.html.twig') }}

<div id="city-scores">
    <h3 class="subtitle-section">Critéres d'appréciation</h3>
    <div id="container-cards">
        {% set iconScore = { 
            0 : 'fas fa-building',
            1 : 'fas fa-hand-holding-usd',
            3 : 'fas fa-piggy-bank',
            4 : 'fas fa-bus-alt', 
            7 : 'fas fa-user-shield', 
            8 : 'fas fa-hand-holding-medical', 
            9 : 'fas fa-user-graduate', 
            10 : 'fas fa-hand-holding-water', 
            11 : 'far fa-money-bill-alt', 
            13 : 'fas fa-wifi', 
            14 : 'fas fa-theater-masks', 
            15 : 'fas fa-genderless',
            16 : 'fas fa-campground' 
        } %}
        {% set categoryScores = { 0 :'Logement'  , 1 : 'Coût de la vie' , 3 : 'Capital risque', 4 : 'Transports', 7 : 'Sécurité', 8 : 'Soins de santé', 9 : 'Éducation', 10 : 'Qualité de l\'environnement', 11 : 'Économie', 13 : 'Accès internet', 14 : 'Loisirs et Culture', 15 : 'Tolérance', 16 : 'En plein air' } %}

        {% set hex_val = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f']%}

        {% if cityData['scores'] is not null %}
        {% for key, score in categoryScores %}
        <div class="card shadow" {# data-category="{{ score }}" #}
            {# data-originalcategory="{{ cityData['scores'][key].name|default('n/a') }}" #}>
            <i class="{{ iconScore[key]|default('fas fa-exclamation') ~ ' fa-4x' }}"
                style="color: {{ cityData['scores'][key].color|default('n/a') }};"></i>
                {# style="color:{{ '#' ~ random(hex_val) ~ random(hex_val) ~ random(hex_val) ~ random(hex_val) ~ random(hex_val) ~ random(hex_val)  }};"></i> #}
            <p class="card-text">{{ score|default('n/a') }}</p>
            <p id="p-score" class="card-text">
                {{ cityData['scores'][key].score_out_of_10|number_format(1, '.', ',') ~ ' / 10' }}</p>
               {# {{ random(1,10) ~ ' / 10' }} #}</p>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-warning text-center p-2">Nous n'avons pas encore de données pour cette ville</div>
        {% endif %}
    </div>
</div>

<script src="{{asset('js/city_data.js')}}"></script>
    