{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Destinations aléatoires{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/random-city.css') }}" crossorigin="" />

{% endblock %}

{% block body %}
<div class="wrapper-cities-list">
    <div class="p-4 float-left">
        <h1>CityList</h1>
        <h3>Résultats de la recherche</h3>
        {% set i = 100 %}
        {% set j = i - 1 %}
        {% for k in 1..100 %}
             {% if quantityPerRange[j]  is defined  %}
                Il y a {{ quantityPerRange[j] }} match entre {{ j }}% - {{ i }}%
            {% endif %} 
            {% for key, match in arrayMatching %}
                {% if arrayMatching[key]['value'] > j and arrayMatching[key]['value'] <= i %}
                    <p>{{ match['city'].name }}</p>
                {% endif %}
            {% endfor %}
            
            {% set i = i - 5 %}
            {% set j = i - 5 %}
        {% endfor %}
    </div>
    <div class="col-8">
        <h1>Résultats de la recherche avancée</h1>
        <p class="intro">Pour les curieux, découvrez ici des destinations auxquelles vous n'auriez pas pensé.</p>
    
        <div class="city-list-result col-lg-8">
    
            {% for item in arrayMatching %}
            <a href="{{ path('city_show', { geonameId : item.city.geonameId }) }}">
                <picture class="city-card" data-name="{{ item.city.name }}" data-geonameid="{{ item.city.geonameId }}">
                    <source srcset="" media="(min-width: 400px)">
                    <img class="city-img shadow-sm" src="{{asset('images/accueil/picture_' ~ random(1,17) ~ '.jpg')}}" alt="Image de {{ item.city.name }}" onerror="this.src='{{ asset('images/loader.gif') }}'" />
                    <p class="city-name">{{ item.city.name }}</p>
                </picture>
            </a>
            {% endfor %}
    
        </div>
    
    </div>
   
</div>



{% dump(arrayMatching) %}
{% dump(urlResults) %}
{% dump(quantityPerRange) %}

{% endblock %}