{% extends 'base.html.twig' %}

{% block title %} {{ parent()}} - Mes villes {% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/city_list_show.css') }}"/>
{% endblock %}

{% block body %}

{% dump(app.request.schemeAndHttpHost) %}
<div class="wrapper-city-list-show">
    <h1>Mes villes</h1>

    <table class="table ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Lien</th>
                <th>Crée le:</th>
                {# <th>Mise</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for list in app.user.cityLists %}
            <tr>
                <td>{{ list.id }}</td>
                <td>{{ list.name }}</td>
                <td><a href="{{ app.request.schemeAndHttpHost ~ list.url }}">Aller voir ma liste</a></td>
                <td>{{ list.createdAt ? list.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ include('city_list/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Vous n'avez pas de listes sauvegardées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
