{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() ~ ' - ' }}
	Accueil
{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
	<section class="wrapper-accueil">
		<h1 class="text-center m-0">App Voyages
			<img src="{{ asset('images/logo/travel-globe.svg')}}" style="width: 100px;" alt="Logo: un avion vole au-dessus du globe"></h1>
		<p class="accueil-subtitle text-center">App Voyages vous aide à trouver votre prochaine destination de voyage avec ses solutions de recherche ainsi qu’ avec les avis et notes partagés par d'autres voyageurs
		</p>
		<div>
			<ul class="p-0">
				<li class="card shadow text-center card-accueil mb-3">
					<h2 class="text-center">
						<a href="{{path('advanced_search')}}" class="stretched-link link-accueil">Recherche Avancée</a>
					</h2>
					<p>Sélectionnez un ou plusieurs critères pour trouver votre destination idéale</p>
				</li>

				<li class="card shadow text-center card-accueil mb-3">
					<h2 class="text-center">
						<a href="{{path('search')}}" class="stretched-link link-accueil">Recherche Simple</a>
					</h2>
					<p>Si vous avez une ville en tête, accédez à sa fiche détaillée en effectuant une recherche simple</p>
				</li>

				<li class="card shadow text-center card-accueil mb-3">
					<h2 class="text-center">
						<a href="{{path('city_random')}}" class="stretched-link link-accueil">Recherche Aléatoire</a>
					</h2>
					<p>Découvrez, en un seul clic et de maniére aléatoire, des destinations partout dans le monde</p>
				</li>

			</ul>
		</div>

	</section>

{% endblock %}
