<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path('accueil') }}"><picture>
    <source media="(min-width: 465px)" srcset="{{ asset('images/logo/travel-globe-152-170988.png')}}">
    <img src="{{ asset('images/logo/travel-globe-120-170988.png')}}" style="width: 32px;">
  </picture>App Voyages</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('accueil') }}">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Faire une recherche
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Recherche Avancée</a>
          <a class="dropdown-item" href="{{path('search')}}">Recherche Simple</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{path('city_random')}}">Villes aleatoirs</a>
        </div>
      </li>
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ app.user.firstname }} <i class="fas fa-user-circle"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('user_show', {id : app.user.id })}}">Mes listes de villes</a>
          <a class="dropdown-item" href="{{path('user_show', {id : app.user.id })}}">Mon profil</a>
          {% if is_granted('ROLE_ADMIN') %}
          <a class="dropdown-item" href="{{ url( 'easyadmin' )}}">Administration</a>
          {% endif %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{path('app_logout')}}">Se déconnecter</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_register')}}">S'enregistrer</a>
      </li>
      {% endif %}

    </ul>
  </div>
</nav>